* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-main-bg: hsl(233, 47%, 7%);
  --color-card-background: hsl(244, 38%, 16%);
  --color-accent-soft-violet: hsl(277, 64%, 61%);
  --color-white: hsl(0, 0%, 100%);
  --color-paragraph: hsla(0, 0%, 100%, 0.75);
  --color-heading: hsla(0, 0%, 100%, 0.6);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main-bg);
  color: var(--accent-soft-violet);
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5em;
  min-height: 100vh;
}

.container {
    background-color: #2b2f3c;
    color: var(--accent-soft-violet);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto 5%;
    height: 90vh;
    border-radius: 0.7em;
    overflow: scroll;
    
  }
  
  .content {
      flex: 1 50%;
      box-sizing: border-box;  
  }
  
  .info {
      /* flex: 1 70%; */
      box-sizing: border-box;
      background-color: var(--color-card-background);
      padding: 0;
      order: 2;
      text-align: center;
      height: 60vh;
      min-width: 275px;
      max-width: 100vw;
      height: auto;
  }
  
  .pic {
    background-image: url(/images/image-header-mobile.jpg);
    background-color: var(--color-accent-soft-violet);
    background-blend-mode: multiply;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    max-width: 100%;
    height: 27vh;
    order: 1; 
    
    /* visibility: visible; */
    /* filter: var(--color-accent-soft-violet)(100%) saturate(200%) brightness(70%) hue-rotate(330deg);  */
  }

p {
  color: var(--color-paragraph);
  padding: 0 3rem 0;
}

h1 {
  font-size: 1.8rem;
  line-height: 1em;
  color: var(--color-white);
}

h1,
h2 {
  padding: 0 3rem 0;
  max-width: 100%;
}

span {
  color: var(--color-accent-soft-violet);
  margin-top: 2rem;
}

.stats {
  font-size: normal;
  margin-top: 3rem;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.subs {
  margin-bottom: 0.5rem;
  margin-top: 0;
  padding: 0;
  max-width: 100%;
  color: var(--color-white);
  flex-direction: column;
}

p.subs {
  color: var(--color-heading);
  font-family: "Lexend Deca", sans-serif;
  font-size: small;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

footer {
    display: block;
  bottom: 1rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.attribution {
  color: var(--color-white);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {

 .container {
    height: 50vh;
 }   
 
 .pic {
    order: 2;
    background-position: center;
  background-image: url(/images/image-header-desktop.jpg);
  height: 70vh;
  }

  .info {
      text-align: left;
  }

  .stats {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    width: 10vw;
    margin: 0;
  }

  .row {
    padding: 0 1rem;
  }
}
